*{
    margin:0;
    padding:0;
    /* box-sizing:border-box;
    font-family:'Poppins',sans-serif; */
}

body{
    background:#fff;
    color:#222;
}

/* Navbar */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#fff;
    
    top:0;
   
}
.logo{
    display:flex;
    align-items:center;
}

.logo h2{
    color:#0d1b4c;
    font-size:24px;
}

.logo span{
    color:#0d1b4c;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin:0 15px;
}



.btn{
    text-decoration:none;
    background:#2563eb;
    color:#fff;
    padding:12px 25px;
    border-radius:6px;
}

.btn:hover{
    background:#1d4ed8;
}

